<% include ../partials/leftpart %> 
<% include ../partials/header %> 


<div class="content-wrapper">
  <section class="content-header">
		  <h1>Add Info Message</h1>
		  <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
		  </ol>
  </section>

	<section class="content">

     <div class="row">
            <div class="col-md-12">
                <div class="box box-primary" style="margin: auto; width:50%">
                    <div class="box-header with-border" >
                      <h3 class="box-title">Add Info Message</h3>
                    </div>
                     <form role="form" method="POST" action="/messages/add">
                        <div class="box-body">
                          <div class="form-group ">
                            <label for="exampleInputEmail1">Screen</label>
                            <input type="text" class="form-control" name="screen" required/>
                          </div>
                          <div class="form-group ">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" name="title" required/>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">descripation</label>
                            <textarea type="text" class="form-control" name="descripation" required></textarea>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Key</label>
                            <textarea type="text" class="form-control" name="key" required></textarea>
                          </div>
                        </div>
                        <div class="box-footer" style="display: flex; justify-content: space-evenly;">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <a class="btn btn-secondary" href="/messages/1">Cancel</a>
                        </div>
                     </form>
                </div>
            </div>
        </div>
  </section>
</div>
<% include ../partials/footer %> 
