<% include ../partials/leftpart %>
    <% include ../partials/header %>


        <div class="content-wrapper">
            <section class="content-header">
                <h1>Add FAQ</h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>
            <section class="content">
                <% include ../partials/messagebox %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary" style="margin: auto; width:50%">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Add FAQ</h3>
                                </div>

                                <form role="form" method="POST" action="/faq/add/faq">
                                    <div class="box-body">
                                        <div class="form-group ">
                                            <label for="exampleInputEmail1">Title</label>
                                            <input type="text" class="form-control" name="title" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">descripation</label>
                                            <textarea type="text" rows="8" cols="50" class="form-control"
                                                name="description" required>
                                                </textarea>
                                        </div>


                                    </div>
                            </div>
                            <div class="box-footer" style="display: flex; justify-content: space-evenly;">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a class="btn btn-secondary" href="/faq/1">Cancel</a>
                            </div>
                            </form>


                        </div>
                    </div>
        </div>
        </section>
        </div>
        <% include ../partials/footer %>
            <script>
                let vars;
                function attendanceSubmit(studentId) {
                    vars = document.getElementById('status').value;
                }
            </script>