     
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OH Admin Panel</title>

	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" href="/admtheme/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/admtheme/bower_components/font-awesome/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="/admtheme/bower_components/Ionicons/css/ionicons.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/admtheme/dist/css/AdminLTE.min.css">
	<!-- iCheck -->
	<link rel="stylesheet" href="/admtheme/plugins/iCheck/square/blue.css">


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    
	<link rel="stylesheet"  href="/admtheme/dist/css/custom.css">
	<link  rel="stylesheet" href="/admtheme/dist/css/new-style.css">

		<!-- Google Font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">   

<div class="container-fluid">
		<div class="row">
		  <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 authfy-panel-left" style="background-color:rgb(45, 56, 94, .9);;">
			<!-- brand-logo start -->
			<div class="brand-logo text-center">
			 <a href="/"><img src="/images/logosite.png"></a>
			</div><!-- ./brand-logo -->

			<% include ../partials/messagebox %>
			
			<!-- authfy-login start -->
			<div class="authfy-login">
			  <!-- panel-login start -->
			  <div class="authfy-panel panel-login text-center active">
				<div class="authfy-heading">
				  <h3 class="auth-title" style="color: blanchedalmond;">Login to your account</h3>
				</div>

				<div class="row">
				  <div class="col-xs-12 col-sm-12">
  
					<form action="/users/login" method="post" name="login_form" id="login_form" autocomplete="off" class="loginForm">
					
					  <div class="form-group">
  
						<input type="email" name="email" class="form-control email" placeholder="Email">
						
						 
					  </div>
					  <div class="form-group">
					  
					  <input type="password" name="password" class="form-control" placeholder="Password">
					  
						
					  </div>
					  
					  <div class="form-group">
						<button class="btn btn-lg btn-primary btn-block" type="submit">Login </button>
					  </div>
					</form>
				  </div>
				</div>
			  </div> <!-- ./panel-login -->
		 
			  <div class="authfy-panel panel-forgot">
			   
			  </div> <!-- ./panel-forgot -->
			</div> <!-- ./authfy-login -->
		  </div> <!-- ./authfy-panel-left -->
		  <div class="col-md-7 col-lg-8 authfy-panel-right hidden-xs hidden-sm">
			<div class="hero-heading">
			  <div class="headline">
				<h3>OH Admin Panel</h3>
			  </div>
			</div>
			
		  </div>
		</div> <!-- ./row -->
	  </div> <!-- ./container -->
	 
	
  <!-- /.login-box -->

<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="/admtheme/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/admtheme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="/admtheme/plugins/iCheck/icheck.min.js"></script>
<script src="/admtheme/dist/js/jquery.validate.min.js"></script>
<script src="/admtheme/dist/js/form_validation.js"></script>
</body>
</html>
